.Navigation {
  position: relative;
  height: $navigation-height;
  margin-bottom: get($spacings, 'large');
  background-color: $c-white;
  box-shadow: get($shadows);

  &__content {
    @extend %container;

    display: flex;
    height: 100%;
  }

  &__menu {
    display: flex;
    margin-left: auto;

    & > *:not(:last-child) {
      margin-right: get($spacings);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: get($font-weights, 'bold');
  }
}
