* {
  box-sizing: border-box;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

p {
  margin: 0;
}

a {
  color: $c-accent;
  text-decoration: none;
  transition: color get($durations);

  &:hover {
    color: $c-accent-hover;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

textarea {
  height: 4rem;
  resize: none;
}
