$font-weights: (
  'default': 400,
  'bold': 700,
);

$font-sizes: (
  'default': 14 / 16 * 1rem,
  'small': 12 / 16 * 1rem,
  'large-mobile': 18 / 16 * 1rem,
  'large': 24 / 16 * 1rem,
);

$font-families: (
  'default': 'Montserrat',
);

$spacings: (
  'default': 20px,
  'medium': 30px,
  'large': 40px,
);

$durations: (
  'default': .2s,
);

$shadows: (
  'default': 0 8px 15px 0 rgba(0, 0, 0, .07),
);

$container-max-width: 1140px;
$container-padding: get($spacings, 'medium');

$navigation-height: 60px;
